[logger]
type=logger
host=localhost
#
[manager]
type=manager
host=localhost
#
[proxy-1]
type=proxy
host=localhost
#
[worker-1]
type=worker
host=localhost
interface=af_packet::${INTERFACE}
lb_method=custom
lb_procs=6
pin_cpus=0,1,2,3,4,5
